textarea {
    width: 280px;
    height: 100px;
}

input {
    width: 280px;
}

#newIssue {
    font-size: 12px;
}

#newIssue > p {
    margin-top: 5px;
}

.caption {
    font-weight: bold;
}

.form_field {
    margin-bottom: 8px;
}

.progress {
    width: 100px;
}

.zdredmine-list {
    list-style: none;
    margin: -5px;

    &__entry {
        padding: 5px;
        margin: 0;
        a {
             display: block;
        }
        &:hover {
            background-color: #ebebeb;
        }
    }
}